.nav-header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.nav-header * {
  margin-top: 20px;
}

.hide {
  cursor: pointer;
  visibility: hidden;
}

.login-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.login-button button {
  border: none;
  background-color: white;
}

.nav-logo {
  display: flex;
  justify-content: center;
}

.nav-logo img {
  cursor: pointer;
}

.menu-area {
  display: flex;
  align-items: center;
}

.menu-list {
  padding: 0;
  margin: auto;
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
  cursor: pointer;
}

.search {
  right: 20px;
  position: absolute;
  border-bottom: 2px solid darkgray;
}

.search input {
  border: none;
}

.search input:focus {
  outline: none;
}

.item {
  margin-top: 20px;
  font-size: 12px;
}

.title, .price {
  font-size: 14px;
}

.item img{
  width: 100%;
  height: 100%;
}

.item:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in;
}

.container{
  margin-top: 20px;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}

.information div {
  padding-bottom: 4px;
}

.product-title {
  font-size: 18px;
}

.product-price {
  font-size: 20px;
}

.product-choice {
  font-size: 12px;
}

#dropdown-basic {
  font-size: 12px;
  margin: 10px 0 10px 0;
  border-radius: 3px;
  border: 1px solid black;
}

.product-btn {
  width: 100%;
  border: none;
  color: white;
  border-radius: 3px;
  background-color: black;
}

.side-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .hide {
    margin-left: 20px;
    visibility:visible;
  }

  .menu-area {
    display: none;
  }

  .side-menu {
    display: block;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: burlywood;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index:2
  }

  .side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
  }

  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
  }

  .side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .side-menu-list button:hover {
    background-color: beige;
    border-radius: 3px;
  }
}